extend layout

block content
  section(class='hero is-small')
    div(class='hero-body')
      div(class='container')
          h1(class='title') #{title}
          p= content
          
  section(class='hero is-small')
    div(class='hero-body')
      div(class='container')
      +system-form()(class='modal')
      