div(class="card" id="wolframWidget")
    div(class="card-image")
        figure(class="image is-4by3")
            img( style="display: none" src="" id="wolfram-image" onload="this.style.display = 'block'" alt="wolfram result")
    div(class="card-content")
        div(class="content")
            p(id="content-text")  
            small(id="content-source") Powered by Wikidata