div(class="card" id="wolframWidget")
    p= img
    p= plaintext
    div(class="card-image")
        figure(class="image is-4by3")
            img( src='' id="wolfram-image" alt="wolfram result")
    div(class="card-content")
        div(class="content")
            p(id="content-text")  