header(class='hero is-warning is-medium')
    div(class='hero-head')
        nav(class='navbar')
            div(class='container')
                div(class='navbar-brand navbar-start')
                    a(class='navbar-item' href='/') #{data}
                    span(class='navbar-burger burger' data-target='navbarMenuHeroA')
                        span
                        span
                        span
                div(id='navbarMenuHeroA' class='navbar-hero')
                    div(class='navbar-end')
                        a(class='navbar-item' href="/") Home
                        a(class='navbar-item' href="/about") About 
                        a(class='navbar-item' href="/system/"+system) Detail 
                        span(class='navbar-item')
                          div(class='field has-addons')
                            div(class='control')
                                input(class='input' type='text' placeholder='Find a Star System' disabled)
                            div(class='control')
                                a(class='button is-success' disabled) Search