header(class='hero is-primary is-medium')
    div(class='hero-head')
        nav(class='navbar')
            div(class='container')
                div(class='navbar-brand navbar-start')
                    a(class='navbar-item' href='/') #{data}
                    span(class='navbar-burger burger' data-target='navbarMenuHeroA')
                        span
                        span
                        span
                div(id='navbarMenuHeroA' class='navbar-hero')
                    div(class='navbar-end')
                        a(class='navbar-item is-active' href="/") Home
                        a(class='navbar-item' href="/about") About 
                        a(class='navbar-item' href="/system/"+system) Detail 
                        span(class='navbar-item')
                            a(class='button is-primary is-inverted' id='modalBtn') Add New 
        