extends layout

block content 
    section(class='hero is-small')
      div(class='hero-body')
        div(class='container')
            h1(class='title') Star List
            div(class='columns')
              div(class='column is-half')
                table(class='table')
                  thead(class='thead') 
                    tr
                      th ID
                      th Name
                      th Proper Name
                      th Distance(ly)
                      th Planets
                  tbody(class='tbody')
                    each val in systems
                      tr(class='star')
                        each item in val
                          td= item
              div(class='column is-half')
                include ./detail

    section(class='hero is-small')
        div(class='hero-body')
        div(class='container')