extend layout

block content 
    section(class='hero is-medium')
      div(class='hero-body')
        div(class='container')
            h1(class='title') Star List
            table(class='table')
              thead(class='thead') 
                tr
                  th ID
                  th Name
                  th Proper Name
                  th Type
                  th Distance(ly)
                  th Mass(SU)
                  th R (SU)
                  th T #[sub eff] (K)
                  th Planets
              tbody(class='tbody')
                each val in systems
                  tr(class='star')
                    each item in val
                      td= item

    section(class='hero is-small')
        div(class='hero-body')
        div(class='container')

        +system-form()(class='modal')