extend layout

block content 
    section(class='hero is-medium')
      div(class='hero-body')
        div(class='container')
            h1(class='title') Star List
            ul
                each one in systems
                    li(class='subtitle')= one 

    section(class='hero is-small')
        div(class='hero-body')
        div(class='container')

        +system-form()(class='modal')